@model IEnumerable<Projeto_BancoDados.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<p> <a class="btn btn-primary" asp-action="CadastrarUsuario" asp-controller="Usuario">Cadastrar</a></p>


<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.idUsu)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.nomeUsu) </th>
                <th scope="col">@Html.DisplayNameFor(model => model.cargo) </th>
                <th scope="col">@Html.DisplayNameFor(model => model.dataNasc)</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Usuario usuario in Model)
            {
                <tr>
                    <td>@usuario.idUsu</td>
                    <td>@usuario.nomeUsu </td>
                    <td>@usuario.cargo</td>
                    <td>@usuario.dataNasc.ToString("dd/MM/yyyy")</td>
                    <td>

                        <button type="button" class="btn btn-warning">
                            @Html.ActionLink("Editar", "AtualizarUsuario", new { id = usuario.idUsu })
                        </button>

                        <button type="button" class="btn btn-secondary">
                            @Html.ActionLink("Detalhes", "DetalhesUsuario", new { id = usuario.idUsu })
                        </button>

                        <button type="button" class="btn btn-danger">
                            @Html.ActionLink("Excluir", "ExcluirUsuario", new { id = usuario.idUsu },
                                     new { onclick = "return confirm('Deseja realmente excluir?');" })
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
